
p.footer-text{
	border-radius: 20% !important;
	border: 2px solid,white!important;
	color: white;
	font-size: 20px;
	font-weight: 200px;
}

.footer {
  position: fixed;   /* stick to bottom */
  bottom: 0;         /* at the bottom of the viewport */
  left: 0;           /* align to left */
  width: 100%;       /* full width */
  background-color: #198754; /* same as bg-success */
  color: white;
  text-align: center;
  padding: 1rem 0;
  z-index: 1000;     /* make sure it stays above content */
}
